* {
	margin: 0;
	padding: 0;
}

html, body {
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.container-home {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	/* background: url(../../static/textures/Ui/Test4.jpg) no-repeat center center/cover; */
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
}

#start {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 120px;
	height: 40px;
	font-size: 2rem;
	background-color: aqua;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
	z-index: 2;
}

.dialogue {
	position: relative;
	width: 150rem;
	height: 150rem;
}

.dialogue-captain {
	position: absolute;
	/* width: 60em; */
	bottom: 0;
	left: 0;
}

.dialogue-text {
	position: absolute;
	width: 360px;
	top: 220px;
	left: 450px;
	font-size: 1.5rem;
	text-align: left;
}

.gameOverContainer{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5)
	
}

.gameOverText{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	color: white;
	opacity: 1;

}



/* CSS */
.gameOver-restart {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  margin-top: 2rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 30%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.gameOver-restart:focus {
  outline: 0;
}

.gameOver-restart:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.gameOver-restart:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .gameOver-restart {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

.timer {
	position: absolute;
	top: 8%;
	right: 10%;
	font-size: 2rem;
}

/* Media queries pour tablettes */
@media (max-width: 768px) and (min-height: 1024px) {
	#start {
		font-size: 1.5rem;
		width: 100px;
		height: 30px;
	}
	.dialogue-captain {
		width: 40em; /* réduire la taille de l'image */
	}
	.dialogue-text {
		width: 300px; /* réduire la largeur */
		font-size: 1.2rem;
		left: 18em;
	}
}

/* Media queries pour téléphones mobiles */

@media (min-width: 375px) and (max-width: 480px) and (min-height: 667px) and (max-height: 800px) {
	#start {
		font-size: 1rem;
		width: 80px;
		height: 25px;
	}
	/* .dialogue-captain {
		width: 24em; 
	}
	.dialogue-text {
		width: 144px;
		font-size: 0.7rem;
		top: 32em;
		left: 18em;
	} */
}

/* max-width: 480px; and max-height: 800px; */

@media (min-width: 480px) and (min-height: 801px) and (max-height: 844px) {
	#start {
		font-size:1.2rem;
		width: 80px;
		height: 25px;
	}
	/* .dialogue-captain {
		width: 25em; 
	}
	.dialogue-text {
		width: 144px;
		font-size: 0.7rem;
		top: 47em;
		left: 18em;
	} */
}

@media (min-width: 390px) and (min-height: 844px) and (max-height: 844px) {
	#start {
		font-size:1.2rem;
		width: 80px;
		height: 25px;
	}
	/* .dialogue-captain {
		width: 25em;
	}
	.dialogue-text {
		width: 144px;
		font-size: 0.7rem;
		top: 47em;
		left: 18em;
	} */
}

@media (min-width: 360px) and (min-height: 740px) and (max-height: 740px) {
	#start {
		font-size:1.2rem;
		width: 80px;
		height: 25px;
	}
	/* .dialogue-captain {
		width: 25em; 
	}
	.dialogue-text {
		width: 144px;
		font-size: 0.7rem;
		top: 37em;
		left: 18em;
	} */
}

@media (min-width: 360px) and (min-height: 800px) and (max-height: 800px) {
	#start {
		font-size:1.2rem;
		width: 80px;
		height: 25px;
	}
	/* .dialogue-captain {
		width: 25em; 
	}
	.dialogue-text {
		width: 144px;
		font-size: 0.7rem;
		top: 43em;
		left: 18em;
	} */
}




@media (max-width: 414px) and (min-height: 896px) {
	#start {
		font-size:1.2rem;
		width: 80px;
		height: 25px;
	}
	/* .dialogue-captain {
		width: 26em; 
	}
	.dialogue-text {
		width: 144px;
		font-size: 0.8rem;
		top: 43em;
		left: 17em;
	} */
}
@media (max-width: 412px) and (min-height: 915px) {

	/* .dialogue-captain {
		width: 26em; 
	}
	.dialogue-text {
		top: 45em;
	} */
}

@media screen and (device-width: 360px) and (device-height: 760px)  {
	#start {
		font-size:1.2rem;
		width: 80px;
		height: 25px;
	}
	/* .dialogue-captain {
		width: 25em; 
	}
	.dialogue-text {
		width: 144px;
		font-size: 0.7rem;
		top: 26em;
		left: 18em;
	} */
}

@media screen and (device-width: 375px) and (device-height:812px)  {
	#start {
		font-size:1.2rem;
		width: 80px;
		height: 25px;
	}
	/* .dialogue-captain {
		width: 25em; 
	}
	.dialogue-text {
		width: 144px;
		font-size: 0.7rem;
		top: 44em;
		left: 18em;
	} */
}

@media screen and (device-width: 393px) and (device-height:851px)  {
	#start {
		font-size:1.2rem;
		width: 80px;
		height: 25px;
	}
	/* .dialogue-captain {
		width: 25em; 
	}
	.dialogue-text {
		width: 144px;
		font-size: 0.7rem;
		top: 47em;
		left: 18em;
	} */
}